.styling {
    font-family: 'SpongebobFont', 'Sans-Serif';
    letter-spacing: 3px;
}

.styling2 {
    font-family: 'SourceSansLight';
}

.flex1 {
    display:flex;
    flex-direction: row-reverse;
}
